In [ ]:
!pip install yfinance

In [ ]:
!pip install my_package

In [4]:
#import my_package
import yfinance as yf
from typing import Union, AnyStr, ByteString, List
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

In [9]:
data = yf.download("AAPL", period="7d")

[*********************100%***********************]  1 of 1 completed

In [10]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-03-03,124.809998,125.709999,121.839996,122.059998,122.059998,112430400
2021-03-04,121.750000,123.599998,118.620003,120.129997,120.129997,177275300
2021-03-05,120.980003,121.940002,117.570000,121.419998,121.419998,153590400
2021-03-08,120.930000,121.000000,116.209999,116.360001,116.360001,153918600
2021-03-09,119.029999,122.059998,118.790001,121.089996,121.089996,129159600
2021-03-10,121.690002,122.169998,119.449997,119.980003,119.980003,111760400
2021-03-11,122.540001,123.209999,121.260002,121.959999,121.959999,99598709

In [ ]:
def get_df(get_df = yf.download('AAPL')):
    return get_df

In [ ]:
get_df("AAPL", '7d')

Exception in thread Thread-6:
Traceback (most recent call last):
  File "/home/osboxes/anaconda3/envs/redisai/lib/python3.7/threading.py", line 926, in _bootstrap_inner
    self.run()
  File "/home/osboxes/anaconda3/envs/redisai/lib/python3.7/threading.py", line 870, in run
    self._target(*self._args, **self._kwargs)
  File "/home/osboxes/anaconda3/envs/redisai/lib/python3.7/site-packages/multitasking/__init__.py", line 102, in _run_via_pool
    return callee(*args, **kwargs)
  File "/home/osboxes/anaconda3/envs/redisai/lib/python3.7/site-packages/yfinance/multi.py", line 167, in _download_one_threaded
    actions, period, interval, prepost, proxy, rounding)
  File "/home/osboxes/anaconda3/envs/redisai/lib/python3.7/site-packages/yfinance/multi.py", line 182, in _download_one
    rounding=rounding, many=True)
  File "/home/osboxes/anaconda3/envs/redisai/lib/python3.7/site-packages/yfinance/base.py", line 122, in history
    _time.strptime(str(start), '%Y-%m-%d')))
  File "/home/osboxes/anaconda3/envs/redisai/lib/python3.7/_strptime.py", line 571, in _strptime_time
    tt = _strptime(data_string, format)[0]
  File "/home/osboxes/anaconda3/envs/redisai/lib/python3.7/_strptime.py", line 359, in _strptime
    (data_string, format))
ValueError: time data '7d' does not match format '%Y-%m-%d'

In [ ]:
data['Adj Close'].plot()
plt.xlabel("Date")
plt.ylabel("Adjusted")
#plt.title("Apple")
#plt.style.use('dark_background')
plt.show()

In [ ]:
def plot_7d(self,
            df: Union[np.ndarray, list]):
    return plt.show()

In [ ]:
data['Close']

In [ ]:
plot_7d(data['Close'])

In [ ]:
def get_df(ticker, period):
    data=yf.download(ticker, "7d")
    return data

In [ ]:
def download(tickers, start=None, end=None):
    return pd.DataFrame

In [8]:
get_df()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-03-01,123.750000,127.930000,122.790001,127.790001,127.790001,115998300
2021-03-02,128.410004,128.720001,125.010002,125.120003,125.120003,102015300
2021-03-03,124.809998,125.709999,121.839996,122.059998,122.059998,112430400
2021-03-04,121.750000,123.599998,118.620003,120.129997,120.129997,177275300
2021-03-05,120.980003,121.940002,117.570000,121.419998,121.419998,153590400

In [ ]:
download("AAPL", "2021-03-01", "2021-03-07")

In [ ]:
my_package.plot_7d(df)